@model ProyectoClinica.Models.Pagos

@{
    ViewBag.Title = "Create";
}

<link href="~/CSS/Crear.css" rel="stylesheet" />

<div class="container-form">
    <h2 class="page-title">Crear Nuevo Pago</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-section">
            <legend>Información Bancaria</legend>
            <div class="form-grid">
                <div class="form-group">
                    @Html.LabelFor(model => model.Id_Banco, "Banco", new { @class = "control-label" })
                    @Html.DropDownList("Id_Banco", ViewBag.Banco as SelectList, "Seleccione una opción", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Numero_Referencia, "Número de Referencia", new { @class = "control-label" })
                    @Html.EditorFor(model => model.Numero_Referencia, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-section">
            <legend>Detalles del Pago</legend>
            <div class="form-grid">
                <div class="form-group">
                    @Html.LabelFor(model => model.Fecha_Pago, "Fecha de Pago", new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Fecha_Pago, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Tipo_Pago, "Tipo de Pago", new { @class = "control-label" })
                    @Html.EditorFor(model => model.Tipo_Pago, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Monto, "Monto", new { @class = "control-label" })
                    @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Estado_Pago, "Estado de Pago", new { @class = "control-label" })
                    @Html.EditorFor(model => model.Estado_Pago, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-section">
            <legend>Información del Beneficiario</legend>
            <div class="form-grid">
                <div class="form-group">
                    @Html.LabelFor(model => model.Beneficiario, "Beneficiario", new { @class = "control-label" })
                    @Html.EditorFor(model => model.Beneficiario, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cuenta_Beneficiario, "Cuenta del Beneficiario", new { @class = "control-label" })
                    @Html.EditorFor(model => model.Cuenta_Beneficiario, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-section">
            <h4>Detalles Adicionales</h4>
            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, "Descripción", new { @class = "control-label" })
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Observaciones, "Observaciones", new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control", rows = "3" })
            </div>
        </div>

        <div class="form-section">
            <legend>Información de Registro</legend>
            <div class="form-grid">
                <div class="form-group">
                    @Html.LabelFor(model => model.Usuario_Registro, "Usuario Registro", new { @class = "control-label" })
                    @Html.EditorFor(model => model.Usuario_Registro, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Fecha_Registro, "Fecha de Registro", new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Fecha_Registro, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Usuario_Modificacion, "Usuario Modificación", new { @class = "control-label" })
                    @Html.EditorFor(model => model.Usuario_Modificacion, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Fecha_Modificacion, "Fecha de Modificación", new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Fecha_Modificacion, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <input type="submit" value="Crear Pago" class="btn-primary" />
            @Html.ActionLink("Regresar a la Lista", "Index", null, new { @class = "btn-secondary"})
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}