@model ProyectoClinica.Models.Empleado

@{
    ViewBag.Title = "Editar Usuario";
}

<h2>Editar Usuario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-form">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_Empleado)

        <div class="form-grid">
            <div class="form-section">
                @Html.LabelFor(model => model.Id_Estado, "Estado")
                @Html.DropDownList("Id_Estado", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_Estado, "", new { @class = "text-danger" })
            </div>

            <div class="form-section">
                @Html.LabelFor(model => model.Comentarios)
                @Html.EditorFor(model => model.Comentarios, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comentarios, "", new { @class = "text-danger" })
            </div>

            <div class="form-section">
                @Html.LabelFor(model => model.Nombre)
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>

            <div class="form-section">
                @Html.LabelFor(model => model.Apellido)
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
            </div>

            <div class="form-section">
                @Html.LabelFor(model => model.Cedula)
                @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
            </div>

            <div class="form-section">
                @Html.LabelFor(model => model.Correo)
                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
            </div>

            <div class="form-section">
                @Html.LabelFor(model => model.Jornada)
                @Html.EditorFor(model => model.Jornada, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Jornada, "", new { @class = "text-danger" })
            </div>

            <div class="form-section">
                @Html.LabelFor(model => model.Fecha_registro)
                @Html.EditorFor(model => model.Fecha_registro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fecha_registro, "", new { @class = "text-danger" })
            </div>

            <div class="form-section">
                @Html.LabelFor(model => model.Departamento)
                @Html.EditorFor(model => model.Departamento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Departamento, "", new { @class = "text-danger" })
            </div>

        </div>
        <br />

        <div class="btn-container">
            <input type="submit" value="Guardar" class="btn-submit" />
            @Html.ActionLink("Cancelar", "Administrativos", null, new { @class = "custom-btn" })
        </div>
    </div>


    <style>
        .btn-submit {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 12px 24px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: all 0.3s ease;
        }

            .btn-submit:hover {
                background-color: #218838;
                transform: translateY(-1px);
            }

        .btn-submit, .btn-pago {
            background-color: #0b7b82;
            color: white;
            border: none;
            padding: 12px 24px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.3s ease;
            text-decoration: none;
            display: inline-block;
        }

            .btn-submit:hover, .btn-pago:hover {
                background-color: #096c72;
                transform: translateY(-1px);
                box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            }

        .custom-btn {
            background-color: #0b7b82 !important;
            color: white !important;
            border: none;
            padding: 12px 24px;
            border-radius: 8px;
            display: inline-flex;
            align-items: center;
            gap: 8px;
            font-size: 16px;
            text-decoration: none;
            transition: background 0.3s ease, transform 0.2s ease;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }
    </style>
}
