@model ProyectoClinica.Models.Empleado

@{
    ViewBag.Title = "Editar Usuario";
}

<link href="~/CSS/Editar.css" rel="stylesheet" />

<div class="container-form">
    <h2 class="page-title">Editar Usuario</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_Empleado)

        <div class="form-section">
            <legend>Información Personal</legend>
            <div class="detail-group">
                <div class="detail-item">
                    <div class="detail-label">@Html.LabelFor(model => model.Nombre)</div>
                    <div class="detail-value">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="detail-item">
                    <div class="detail-label">@Html.LabelFor(model => model.Apellido)</div>
                    <div class="detail-value">
                        @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="detail-item">
                    <div class="detail-label">@Html.LabelFor(model => model.Cedula)</div>
                    <div class="detail-value">
                        @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="detail-item">
                    <div class="detail-label">@Html.LabelFor(model => model.Correo)</div>
                    <div class="detail-value">
                        @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-section">
            <legend>Información Laboral</legend>
            <div class="detail-group">
                <div class="detail-item">
                    <div class="detail-label">@Html.LabelFor(model => model.Jornada)</div>
                    <div class="detail-value">
                        @Html.EditorFor(model => model.Jornada, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Jornada, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="detail-item">
                    <div class="detail-label">@Html.LabelFor(model => model.Departamento)</div>
                    <div class="detail-value">
                        @Html.EditorFor(model => model.Departamento, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Departamento, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="detail-item">
                    <div class="detail-label">@Html.LabelFor(model => model.Id_Estado, "Estado")</div>
                    <div class="detail-value">
                        @Html.DropDownList("Id_Estado", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Id_Estado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-section">
            <legend>Fecha e Información Adicional</legend>
            <div class="detail-group">
                <div class="detail-item">
                    <div class="detail-label">@Html.LabelFor(model => model.Fecha_registro, "Fecha Registro")</div>
                    <div class="detail-value">
                        @Html.TextBoxFor(model => model.Fecha_registro, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                        @Html.ValidationMessageFor(model => model.Fecha_registro, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="detail-item">
                    <div class="detail-label">@Html.LabelFor(model => model.Comentarios)</div>
                    <div class="detail-value">
                        @Html.EditorFor(model => model.Comentarios, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Comentarios, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center" style="margin-top: 20px;">
            <input type="submit" value="Guardar" class="btn-primary" style="margin-right: 10px;" />
            @Html.ActionLink("Regresar a lista", "VistaADM", null, new { @class = "btn-secondary" })
        </div>
    }
</div>