@model ProyectoClinica.Models.Productos_Conta

@{
    ViewBag.Title = "Details";
}


<link href="~/CSS/Detalles.css" rel="stylesheet" />

<div class="container-form">
    <h2 class="page-title">Detalles de Productos</h2>

    <div class="form-section">
        <legend>Información Producto</legend>
        <div class="detail-group">
            <div class="detail-item">
                <div class="detail-label">Nombre del Producto</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Nombre_producto)</div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Tipo del Producto</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Tipo_producto)</div>
            </div>
        </div>
    </div>

    <div class="form-section">
        <legend>Fechas del Producto</legend>
        <div class="detail-group">
            <div class="detail-item">
                <div class="detail-label">Fecha de Creación</div>
                <div class="detail-value"> @Html.Raw(Model.Creacion_producto.ToString("dd-MM-yyyy"))</div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Fecha de Actualización</div>
                <div class="detail-value">  @(Model.Actualizacion_producto.HasValue ? Model.Actualizacion_producto.Value.ToString("dd-MM-yyyy") : "")</div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Fecha de Eliminación</div>
                <div class="detail-value"> @(Model.Eliminacion_producto.HasValue ? Model.Eliminacion_producto.Value.ToString("dd-MM-yyyy") : "")</div>
            </div>
        </div>
    </div>

    <div class="form-section">
        <legend>Detalles Adicionales</legend>
        <div class="detail-group">
            <div class="detail-item">
                <div class="detail-label">Usuario</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Id_Usuario)</div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Estado</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Estatus_producto)</div>
            </div>
        </div>
    </div>

    <div class="text-center" style="margin-top: 20px;">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Producto }, new { @class = "btn-primary" })
        @Html.ActionLink("Regresar a la Lista", "Index", null, new { @class = "btn-secondary" })
    </div>
</div>