@model ProyectoClinica.Models.Caja_Chica

@{
    ViewBag.Title = "Crear Caja Chica";
}

<link href="~/CSS/Crear.css" rel="stylesheet" />


<div class="container-form">
    <h2 class="page-title">Crear Contabilidad</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-section">
                <legend>Información Básica</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.Id_Contabilidad, "Contabilidad", new { @class = "control-label" })
                    @Html.DropDownList("Id_Contabilidad", ViewBag.Contabilidad as SelectList, "Seleccione una opción", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-section">
                <legend>Fechas</legend>
                <div class="form-grid">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Fecha_Registro, "Fecha Registro", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Fecha_Registro, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Fecha_Movimiento, "Fecha Movimiento", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Fecha_Movimiento, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Fecha_Modificacion, "Fecha Modificación", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Fecha_Modificacion, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                    </div>
                </div>
            </div>

            <div class="form-section">
                <legend>Información Financiera</legend>
                <div class="form-grid">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Monto, "Monto", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Saldo_Anterior, "Saldo Anterior", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Saldo_Anterior, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Saldo_Actual, "Saldo Actual", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Saldo_Actual, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Beneficiario, "Beneficiario", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Beneficiario, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <div class="form-section">
                <legend>Totales y Estado</legend>
                <div class="form-grid">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Numero_Comprobante, "Número de Comprobante", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Numero_Comprobante, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Tipo_Movimiento, "Tipo de Movimiento", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Tipo_Movimiento, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Categoria_Gasto, "Categoría Gasto", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Categoria_Gasto, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Numero_Factura, "Número de Factura", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Numero_Factura, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Estado, "Estado", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <div class="form-section">
                <legend>Comentarios y Observaciones</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.Concepto, new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Concepto, new { @class = "form-control", rows = "3" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Observaciones, "Observaciones", new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control", rows = "3" })
                </div>
            </div>

            <div class="form-section">
                <legend>Usuarios Responsables</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.Usuario_Registro, "Registro de Usuario", new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Usuario_Registro, new { @class = "form-control", rows = "3" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Usuario_Modificacion, "Registro de Usuario Modificado", new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Usuario_Modificacion, new { @class = "form-control", rows = "3" })
                </div>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Crear Caja Chica" class="btn-primary" />
                @Html.ActionLink("Regresar a la Lista", "Index", null, new { @class = "btn-secondary"})
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
