@model ProyectoClinica.Models.Caja_Chica

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Caja_Chica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Contabilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Contabilidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_Comprobante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Comprobante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Movimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Movimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Movimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Movimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saldo_Anterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saldo_Anterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saldo_Actual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saldo_Actual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beneficiario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beneficiario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria_Gasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria_Gasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_Factura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Factura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario_Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario_Registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario_Modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario_Modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Modificacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
