@using ProyectoClinica.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar Sesión";
}


<main aria-labelledby="title">
    <Center><h2 id="title">@ViewBag.Title</h2></Center>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <br />
                    <br />
                    <Center><h4>Utilice la cuenta a continuación para iniciar sesión</h4></Center>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="offset-md-2 col-md-10">
                            <input type="submit" value="Iniciar Sesión" class="btn btn-outline-dark" />
                        </div>
                    </div>
                    <div class="alt-options">
                        <p>@Html.ActionLink("¿Has olvidado tu contraseña?", "ForgotPassword")</p>
                    </div>
                }
            </section>
        </div>
       
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}