@model ProyectoClinica.Models.Inventario

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta seguro que quiere eliminar esto?</h3>
<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.NombreArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCaducidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCaducidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn w-100" style="background-color: #3bb4bc; color: white;"/> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
