@model ProyectoClinica.Models.Descuento

@{
    ViewBag.Title = "Crear Descuento";
}

<link href="~/CSS/Crear.css" rel="stylesheet" />


<div class="container-form">
    <h2 class="page-title">Crear Descuento</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-section">
    <legend>Información del Descuento</legend>

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre_Descuento, "Nombre del Descuento", htmlAttributes: new { @class = "form-label fw-bold" })
        @Html.EditorFor(model => model.Nombre_Descuento, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nombre_Descuento, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Codigo_Descuento, "Código del Descuento", htmlAttributes: new { @class = "form-label fw-bold" })
        @Html.EditorFor(model => model.Codigo_Descuento, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Codigo_Descuento, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Porcentaje_Descuento, "Porcentaje del Descuento", htmlAttributes: new { @class = "form-label fw-bold" })
        @Html.EditorFor(model => model.Porcentaje_Descuento, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Porcentaje_Descuento, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Compania_Afiliada, "Compañía Afiliada", htmlAttributes: new { @class = "form-label fw-bold" })
        @Html.EditorFor(model => model.Compania_Afiliada, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Compania_Afiliada, "", new { @class = "text-danger" })
    </div>
</div>

        <div class="form-section">
            <legend>Detalles del Descuento</legend>

            <div class="form-group">
                @Html.LabelFor(model => model.Limite_Usos, "Límite de Usos", htmlAttributes: new { @class = "form-label fw-bold" })
                @Html.EditorFor(model => model.Limite_Usos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Limite_Usos, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.EditorFor(model => model.Activo, new { htmlAttributes = new { @class = "form-check-input" } })
                @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "form-check-label fw-bold" })
                @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fecha_Creacion, "Fecha de Creación", htmlAttributes: new { @class = "form-label fw-bold" })
                @Html.TextBoxFor(model => model.Fecha_Creacion, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.Fecha_Creacion, "", new { @class = "text-danger" })
            </div>
            </div>


        <div class="text-center" style="margin-top: 20px;">
            <input type="submit" value="Guardar" class="btn-primary"/>
            @Html.ActionLink("Regresar a la Lista", "Index", null, new { @class = "btn-secondary" })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
