@model ProyectoClinica.Models.Descuento

@{
    ViewBag.Title = "Detalles Descuento";
}


<link href="~/CSS/Detalles.css" rel="stylesheet" />

<div class="container-form">
    <h2 class="page-title">Detalles del Descuento</h2>

    <div class="form-section">
        <legend>Información del Descuento</legend>
        <div class="detail-group">
            <div class="detail-item">
                <div class="detail-label">Nombre del Descuento</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Nombre_Descuento)</div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Código del Descuento</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Codigo_Descuento)</div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Porcentaje del Descuento</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Porcentaje_Descuento)</div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Compañía Afiliada</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Compania_Afiliada)</div>
            </div>
        </div>
    </div>

    <div class="form-section">
        <legend>Detalles del Descuento</legend>
        <div class="detail-group">
            <div class="detail-item">
                <div class="detail-label">Límite de Usos</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Limite_Usos)</div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Activo</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Activo)</div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Fecha de Creación</div>
                <div class="detail-value">@Html.Raw(Model.Fecha_Creacion.ToString("dd-MM-yyyy"))</div>
            </div>
        </div>
    </div>

    <div class="text-center" style="margin-top: 20px;">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Descuento }, new { @class = "btn-primary" })
        @Html.ActionLink("Regresar a la Lista", "Index", null, new { @class = "btn-secondary" })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}