@model IEnumerable<ProyectoClinica.Models.Descuento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Porcentaje_Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limite_Usos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compania_Afiliada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Creacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Porcentaje_Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limite_Usos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compania_Afiliada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Creacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Descuento }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Descuento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Descuento })
        </td>
    </tr>
}

</table>
