@{
    ViewBag.Title = "Contador";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centro Integral Santo Domingo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="~/CSS/VistaGeneral.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 col-lg-2 sidebar">
                <div class="sidebar">
                    <div class="p-3 d-flex justify-content-center">
                        <img src="~/Imagenes/Logo.png" alt="Centro Integral Santo Domingo Logo" class="img-fluid" style="max-width: 195px; height: auto;" />
                    </div>

                    <center><div class="nav-header">Plataforma</div></center>
                    <div class="nav-item">
                        <a class="nav-link">
                            <div>
                                Navegación
                            </div>

                        </a>
                        <ul class="submenu">
                            <a href="@Url.Action("IndexContador", "Contabilidad")" class="nav-link">
                                <i class="fas fa-calculator"></i> Contabilidad
                            </a>
                            <br />
                            <a href="@Url.Action("VistaReporteConta", "Reporte")" class="nav-link">
                                <i class="fas fa-chart-line"></i> Reportes
                            </a>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Main Content -->
            <div class="button-container">
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <a href="@Url.Action("VistaCONTA", "Contabilidad")" style="text-decoration: none; color: #000000; font-size: 18px; display: flex; align-items: center;">
                        <i class="fas fa-home" style="margin-right: 5px;"></i>
                    </a>
                    <h4 style="margin-left: 10px; font-weight: bold; color: #333;">Módulo de Contabilidad</h4>
                </div>

                <div style="text-align: left; margin-bottom: 5px;">
                    <span style="font-size: 14px; color: #555;">
                        Obtén una visión completa de la información clínica, administrativa y financiera de tu clínica de salud
                    </span>
                </div>
                <br />

                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["SuccessMessage"]
                    </div>
                }

            <div class="gallery-container">

                <div class="dashboard-cards">
                    <div class="simple-card">
                        <div class="card-number">1</div>
                        <div class="card-header">
                            <h3 class="card-title">Registro de contabilidad</h3>
                        </div>
                        <div class="card-body">
                            <p>Registra nuevos registros de la contabilidad</p>
                        </div>
                        <a href="@Url.Action("Index", "Contabilidad")" class="detail-btn">
                            <i class="fas fa-arrow-right">
                            </i> Ingresar
                        </a>
                    </div>

                    <div class="simple-card">
                        <div class="card-number">2</div>
                        <div class="card-header">
                            <h3 class="card-title">Registro de pagos</h3>
                        </div>
                        <div class="card-body">
                            <p>Gestiona los pagon de forma segura.</p>
                        </div>
                        <a href="@Url.Action("Index", "Contabilidad")" class="detail-btn">
                            <i class="fas fa-arrow-right">
                            </i> Ingresar
                        </a>
                    </div>

                    <div class="simple-card">
                        <div class="card-number">3</div>
                        <div class="card-header">
                            <h3 class="card-title">Conciliaciones bancarias</h3>
                        </div>
                        <div class="card-body">
                            <p>Gestiona las conciliaciones bancarias.</p>
                        </div>
                        <a href="@Url.Action("Index", "ConciliacionesBancarias")" class="detail-btn">
                            <i class="fas fa-arrow-right">
                            </i> Ingresar
                        </a>
                    </div>

                    <div class="simple-card">
                        <div class="card-number">4</div>
                        <div class="card-header">
                            <h3 class="card-title">Registro de caja chica</h3>
                        </div>
                        <div class="card-body">
                            <p>Gestiona los registros de la caja chica.</p>
                        </div>
                        <a href="@Url.Action("Index", "CajaChica")" class="detail-btn">
                            <i class="fas fa-arrow-right">
                            </i> Ingresar
                        </a>
                    </div>

                    <div class="simple-card">
                        <div class="card-number">5</div>
                        <div class="card-header">
                            <h3 class="card-title">Detalles de inventario</h3>
                        </div>
                        <div class="card-body">
                            <p>Encuentra los detalles del inventario de contabilidad.</p>
                        </div>
                        <a href="@Url.Action("Index", "InventarioDetalleConta")" class="detail-btn">
                            <i class="fas fa-arrow-right">
                            </i> Ingresar
                        </a>
                    </div>
                </div>
            </div>

                </div>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script>
                    // Toggle submenu functionality
                    document.querySelectorAll('.nav-link').forEach(link => {
                        link.addEventListener('click', function () {
                            // Close all other open submenus
                            document.querySelectorAll('.submenu').forEach(submenu => {
                                if (submenu !== this.nextElementSibling) {
                                    submenu.classList.remove('active');
                                    this.classList.remove('active');
                                }
                            });

                            // Toggle the clicked submenu
                            const submenu = this.nextElementSibling;
                            submenu.classList.toggle('active');
                            this.classList.toggle('active');
                        });
                    });
                </script>
