@model ProyectoClinica.Models.IndexViewModel

@{
    ViewBag.Title = "Perfil";
}

<link href="~/CSS/Perfil.css" rel="stylesheet" />



<div style="text-align: center; margin-bottom: 20px;">
    <a href="@Url.Action("VistaCita", "Cita")" class="custom-btn">
        <i class="fas fa-home"></i> Inicio
    </a>
</div>

<main aria-labelledby="title" class="profile-container">
    <!-- Enlace a Font Awesome para los íconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <p class="text-success">@ViewBag.StatusMessage</p>

    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; margin: 0 auto; max-width: 600px; padding: 5px; border-radius: 10px;">
        <div style="position: relative; margin-bottom: 20px;">
            @if (!string.IsNullOrEmpty(Model.Imagen))
            {
                <img src="@Model.Imagen" alt="Perfil" style="width: 130px; height: 130px; border-radius: 50%; object-fit: cover; border: 3px solid #0b7b82; " />
            }
            else
            {
                <img src="~/Imagenes/PerfilPorDefecto.jpg" alt="Perfil" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; border: 3px solid #3498db;" />
            }
        </div>
        <div style="width: 100%;">
            <h2 style="margin: 0; color: #2c3e50; font-size: 24px; font-weight: 600;">@Model.Nombre @Model.Apellido</h2>
            <p style="margin: 5px 0 15px; color: #7f8c8d; font-size: 16px;">@Model.Email</p>
        </div>
    </div>

    <div class="profile-sections">
        <div class="section">
            <h3>Cuenta</h3>
            <ul>
                @*Modificación de citas*@

                <li>
                    <a class="nav-link" href="@Url.Action("VistaCita", "Perfil")">
                        <i class="fas fa-edit"></i>Modificación de citas
                    </a>
                </li>

                @*Cancelación de citas*@
                <li>
                    <a class="nav-link" href="@Url.Action("EliminarCita", "Perfil")">
                        <i class="fas fa-times-circle"></i>Cancelación de citas
                    </a>
                </li>

                @*Historial de citas*@
                <li>
                    <a class="nav-link" href="@Url.Action("HistorialCita", "Perfil")">
                        <i class="fas fa-history"></i>Historial de citas
                    </a>
                </li>

                @*Citas futuras*@
                <li>
                    <a class="nav-link"href="@Url.Action("VistaCitaFutura", "Perfil")">
                        <i class="fas fa-calendar-alt"></i>Citas futuras
                    </a>
                </li>
            </ul>
        </div>

        <hr />

        <div class="section">
            <h3>Notificaciones</h3>
            <ul>
                <li>
                    <a class="nav-link" id="btnNotificaciones" href="@Url.Action("Notificaciones", "Perfil")">
                        <i class="fas fa-bell"></i> Notificaciones
                        <span id="contadorNotificaciones" class="badge">0</span>
                    </a>
                </li>
            </ul>
        </div>

        <script>
    var contador = "@Session["ContadorNotificaciones"]";
    if (contador && contador !== "0") {
        document.getElementById("contadorNotificaciones").innerText = contador;
    }
        </script>


        <hr />

        <div class="section">
            <h3>General</h3>
            <ul>
                @*Solicitar receta*@
                <li>
                    <a class="nav-link" href="@Url.Action("CrearReceta", "Perfil")">
                        <i class="fas fa-file-medical-alt"></i> Solicitar de la receta
                    </a>
                </li>

                @*Solicitar receta*@
                <li>
                    <a class="nav-link" href="@Url.Action("IndexReceta", "Perfil")">
                        <i class="fas fa-notes-medical"></i> Información de la receta
                    </a>
                </li>

                @*Asistente en línea*@
                <li>
                    <a class="nav-link" href="@Url.Action("NotasPersonale", "Perfil")">
                        <i class="fas fa-book"></i>  Notas personales
                    </a>
                </li>

                @*Cierre se sesión*@
                <li>
                    <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                    </a>
                </li>
                <form id="logoutForm" action="@Url.Action("Logout", "Account")" method="post" style="display:none;">
                    @Html.AntiForgeryToken()
                </form>

            </ul>
        </div>
    </div>
</main>
