@model ProyectoClinica.Models.IndexViewModel

@{
    ViewBag.Title = "Perfil";
}

<link href="~/CSS/Perfil.css" rel="stylesheet" />

<div style="text-align: center; margin-bottom: 20px;">
    <a href="@Url.Action("Redirect", "Redirect",new { email = Model.Email })" class="custom-btn">
        <i class="fas fa-home"></i> Inicio
    </a>
</div>

<main aria-labelledby="title" class="profile-container">
    <!-- Enlace a Font Awesome para los íconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    @if (!string.IsNullOrEmpty(Model.Imagen))
    {
        <img src="@Model.Imagen" alt="Perfil" class="profile-pic" />
    }
    else
    {
        <img src="~/Imagenes/PerfilPorDefecto.jpg" alt="Perfil" class="profile-pic" />
    }

    <div class="profile-details">
        <h2 class="profile-name">@Model.Nombre @Model.Apellido</h2>
        <p class="profile-email">@Model.Email</p>
    </div>

    <div class="profile-sections">
        <div class="section">
            <div class="section">
                <h3>General</h3>
                <ul>

                    @*Cierre se sesión*@
                    <li>
                        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                        </a>
                    </li>

                    <form id="logoutForm" action="@Url.Action("Logout", "Account")" method="post" style="display:none;">
                        @Html.AntiForgeryToken()
                    </form>

                </ul>
            </div>
        </div>
</main>
