<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: #ffffff;
            color: #333;
            overflow-x: hidden;
            max-width: 100%;
        }

        nav.navbar {
            background-color: #0b7b82; /* Colo de la empresa/clinica */
            border-bottom: 2px solid #005e5e;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
        }

            nav.navbar .navbar-brand,
            nav.navbar .nav-link {
                color: white !important;
            }

                nav.navbar .nav-link:hover {
                    color: #ccefff !important;
                }

        footer {
            text-align: center;
            margin-top: 20px;
            color: #666;
        }

        .container.body-content {
            padding: 20px;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
        <div class="container">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <div class="ms-auto">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
