
@model ProyectoClinica.Models.Empleado
@{
    ViewBag.Title = "CrearEmpleado";
}




<div class="container mt-4">
    <h2>Crear Nuevo Empleado</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.Id_Empleado, "ID Empleado", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Id_Empleado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Id_Empleado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.Id_Medico, "Médico", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_Medico", (SelectList)ViewBag.Medico, "Seleccione un Médico", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Medico, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.Id_Estado, "Estado de Asistencia", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_Estado", (SelectList)ViewBag.Estado_Asistencia, "Seleccione un Estado", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Estado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row mb-3">
                @Html.LabelFor(model => model.Id_Usuario, "Usuario", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_Usuario", (SelectList)ViewBag.Users, "Seleccione un Usuario", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Usuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    @Html.ActionLink("Volver a la Lista", "Empleados", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            // Add any custom JavaScript validation or functionality here
        });
    </script>
}