@model IEnumerable<ProyectoClinica.Models.Empleado>

@{
    ViewBag.Title = "Administrador";
}

<link href="~/CSS/VistaGeneral.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 col-lg-2 sidebar">
                <div class="sidebar">
                    <div class="p-3 d-flex justify-content-center">
                        <img src="~/Imagenes/Logo.png" alt="Centro Integral Santo Domingo Logo" class="img-fluid" style="max-width: 195px; height: auto;" />
                    </div>

                    <center><div class="nav-header">Plataforma</div></center>
                    <div class="nav-item">
                        <a class="nav-link">
                            <div>
                                Navegación
                            </div>

                        </a>
                        <ul class="submenu">
                            <a @*href="@Url.Action(" ", "Punto de Venta")"*@ class="nav-link">
                                <i class="fas fa-cash-register"></i> Punto de Venta
                            </a>
                            <br />
                            <a href="@Url.Action("Index", "Inventario")" class="nav-link">
                                <i class="fas fa-boxes"></i> Inventario
                            </a>
                            <br />
                            <a href="@Url.Action("VistaCON", "Contabilidad")" class="nav-link">
                                <i class="fas fa-calculator"></i> Contabilidad
                            </a>
                            <br />
                            <a href="@Url.Action("VistaAdmRep", "Reporte")" class="nav-link">
                                <i class="fas fa-chart-line"></i> Reportes
                            </a>
                        </ul>
                    </div>

                    <hr />

                    <div class="nav-item">
                        <a class="nav-link">
                            <div>
                                Administración
                            </div>

                        </a>
                        <ul class="submenu">
                            <a href="@Url.Action("Administrativo", "Administrativos")" class="nav-link">
                                <i class="fas fa-user-tie"></i> Administrativo
                            </a>
                            <br />
                            <a href="@Url.Action("Empleados", "Empleados")" class="nav-link">
                                <i class="fas fa-users"></i> Empleados
                            </a>
                            <br />
                            <a href="@Url.Action("Expedientes", "Expedientes")" class="nav-link">
                                <i class="fas fa-folder-open"></i> Expedientes
                            </a>
                            <br />
                            <a href="@Url.Action("VistaCAdmin", "Cita")" class="nav-link">
                                <i class="fas fa-calendar-check"></i> Citas
                            </a>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Main Content -->
            <div class="button-container">
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <a href="@Url.Action("VistaAdmin", "Empleados")" style="text-decoration: none; color: #000000; font-size: 18px; display: flex; align-items: center;">
                        <i class="fas fa-home" style="margin-right: 5px;"></i>
                        <h4 style="margin: 0; font-weight: bold; color: #333;">Módulo de Empleados</h4>
                    </a>
                </div>

                <div style="text-align: left; margin-bottom: 5px;">
                    <span style="font-size: 14px; color: #555;">
                        Obtén una visión completa de la información clínica, administrativa y financiera de tu clínica de salud
                    </span>
                </div>
                <br />

                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["SuccessMessage"]
                    </div>
                }

                <div class="dashboard-cards">
                    <div class="simple-card">
                        <div class="card-number">1</div>
                        <div class="card-header">
                            <h3 class="card-title">Registro de empleados</h3>
                        </div>
                        <div class="card-body">
                            <p>Registrar nuevos empleados en el sistema.</p>
                        </div>
                        <a href="@Url.Action("Create", "Empleados")" class="detail-btn">
                                 <i class="fas fa-arrow-right">
                            </i> Ingresar
                        </a>
                    </div>

                    <div class="simple-card">
                        <div class="card-number">2</div>
                        <div class="card-header">
                            <h3 class="card-title">Asignación de Roles</h3>
                        </div>
                        <div class="card-body">
                            <p>Asignar y gestionar roles temporales.</p>
                        </div>
                        <a href="@Url.Action("Index", "AsignacionRolesTemporales")" class="detail-btn">
            <i class="fas fa-arrow-right">
                            </i> Ingresar
                        </a>
                    </div>

                    <div class="simple-card">
                        <div class="card-number">3</div>
                        <div class="card-header">
                            <h3 class="card-title">Editar Empleado</h3>
                        </div>
                        <div class="card-body">
                            <p>Modificar información de empleados.</p>
                        </div>
                        <a href="@Url.Action("VistaEmpleados", "Empleados")" class="detail-btn">
            <i class="fas fa-arrow-right">
                            </i> Ingresar
                        </a>
                    </div>

                    <div class="simple-card">
                        <div class="card-number">4</div>
                        <div class="card-header">
                            <h3 class="card-title">Desactivar perfiles</h3>
                        </div>
                        <div class="card-body">
                            <p>Gestionar perfiles de empleados.</p>
                        </div>
                        <a href="@Url.Action("vistaEliminar", "Empleados")" class="detail-btn">
            <i class="fas fa-arrow-right">
                            </i> Ingresar
                        </a>
                    </div>

                    <div class="simple-card">
                        <div class="card-number">5</div>
                        <div class="card-header">
                            <h3 class="card-title">Buscar Empleado</h3>
                        </div>
                        <div class="card-body">
                            <p>Encuentra empleados por nombre o ID.</p>
                        </div>
                        <a href="@Url.Action("Buscar", "Empleados")" class="detail-btn">
            <i class="fas fa-arrow-right">
                            </i> Ingresar
                        </a>
                    </div>

                    <div class="simple-card">
                        <div class="card-number">6</div>
                        <div class="card-header">
                            <h3 class="card-title">Evaluación</h3>
                        </div>
                        <div class="card-body">
                            <p>Evaluaciones de desempeño de empleados.</p>
                        </div>
                        <a href="@Url.Action("vistaEvaluacion", "Empleados")" class="detail-btn">
            <i class="fas fa-arrow-right">
                            </i> Ingresar
                        </a>
                    </div>

                    <div class="simple-card">
                        <div class="card-number">7</div>
                        <div class="card-header">
                            <h3 class="card-title">Subir PDF</h3>
                        </div>
                        <div class="card-body">
                            <p>Adjuntar documentos en formato PDF.</p>
                        </div>
                        <a href="@Url.Action("File", "Empleados")" class="detail-btn">
            <i class="fas fa-arrow-right">
                            </i> Ingresar
                        </a>
                    </div>

                    <div class="simple-card">
                        <div class="card-number">8</div>
                        <div class="card-header">
                            <h3 class="card-title">Historial del empleado</h3>
                        </div>
                        <div class="card-body">
                            <p>Consulta el historial de cada empleado.</p>
                        </div>
                        <a href="@Url.Action("vistaHistorial", "Empleados")" class="detail-btn">
                             <i class="fas fa-arrow-right">
                            </i> Ingresar
                        </a>
                    </div>

                    <div class="simple-card">
                        <div class="card-number">9</div>
                        <div class="card-header">
                            <h3 class="card-title">Ver PDF</h3>
                        </div>
                        <div class="card-body">
                            <p>Visualiza documentos PDF subidos.</p>
                        </div>
                        <a href="@Url.Action("vistaPDF", "Empleados")" class="detail-btn">
                             <i class="fas fa-arrow-right">
                            </i> Ingresar
                        </a>
                    </div>
                </div>


            </div>

        </div>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            // Toggle submenu functionality
            document.querySelectorAll('.nav-link').forEach(link => {
                link.addEventListener('click', function () {
                    // Close all other open submenus
                    document.querySelectorAll('.submenu').forEach(submenu => {
                        if (submenu !== this.nextElementSibling) {
                            submenu.classList.remove('active');
                            this.classList.remove('active');
                        }
                    });

                    // Toggle the clicked submenu
                    const submenu = this.nextElementSibling;
                    submenu.classList.toggle('active');
                    this.classList.toggle('active');
                });
            });
        </script>
</body>