@model IEnumerable<ProyectoClinica.Models.RolAsignacion>

@{
    ViewBag.Title = "vistaHistorial";
}

<h2>vistaHistorial</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Comentarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Jornada)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Comentarios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Jornada)
        </td>
       
        <td>
            @Html.ActionLink("Detalles", "detallesHistorial", new { id = item.Id_Rol }) 
        </td>
    </tr>
}

</table>
