
@model ProyectoClinica.Models.Cita

@{
    ViewBag.Title = "Crear Cita";
}

@{
    ViewBag.Title = "Crear Cita";
}

<h2>Crear Cita</h2>

@using (Html.BeginForm("Crear", "Cita", FormMethod.Post))
{

    <!-- Campo de nombre de paciente (ingreso manual) -->
    <label for="NombrePaciente">Nombre del Paciente:</label>
    <input type="text" id="NombrePaciente" name="NombrePaciente" />


    <div>
        <label>Médico:</label>
        @Html.DropDownListFor(m => m.Id_Medico, ViewBag.Id_Medico as SelectList, "Seleccione un médico")
    </div>

    <div>
        <label>Tipo de Consulta:</label>
        @Html.TextBoxFor(m => m.Tipo_Consulta)
    </div>

    <div>
        <label>Fecha:</label>
        @Html.TextBoxFor(m => m.Fecha_Cita, "{0:yyyy-MM-dd}", new { type = "date" })
    </div>

    <div>
        <label>Hora:</label>
        @Html.TextBoxFor(m => m.Hora_cita, new { type = "time" })
    </div>

    <div>
        <label>Modalidad:</label>
        @Html.TextBoxFor(m => m.Modalidad)
    </div>

    <button type="submit">Crear Cita</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
