@model ProyectoClinica.Models.Cita

@{
    ViewBag.Title = "Cancelar Cita";
}

<center><h2 class="text-danger">Cancelar Cita</h2></center>
<br />
<center><h3>¿Estás seguro de que deseas cancelar esta cita?</h3></center>
<br />
    <div class="card p-3 shadow-sm">
            <center><h4 style="color: #0b7b82;">Detalles de la Cita</h4></center>
            <hr />

            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Medico.Nombre)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Medico.Nombre)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Nombre_Paciente)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Nombre_Paciente)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Estado_Asistencia)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Estado_Asistencia)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Hora_cita)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Hora_cita)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Descripcion_Complicaciones)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Descripcion_Complicaciones)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Sintomas)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Sintomas)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Fecha_Cita)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Fecha_Cita)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Modalidad)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Modalidad)
                </dd>
            </dl>
</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="mt-4">
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i> Cancelar Cita
            </button>

            @Html.ActionLink("Regresar", "CCita", null, new { @class = "btn btn-secondary ms-2" })
        </div>
    }
