
@{
    ViewBag.Title = "Especialidad";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centro Integral Santo Domingo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/CSS/menu.css" />
    <link rel="stylesheet" href="~/CSS/Content.css" />
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3 col-lg-2 sidebar">
                <div class="sidebar">

                    <div class="p-3 d-flex justify-content-center">
                        <a href="@Url.Action("VistaCita", "Cita")" style="text-decoration: none; display: block;">
                            <img src="~/Imagenes/Logo.png" alt="Centro Integral Santo Domingo Logo" class="img-fluid" style="max-width: 195px; height: auto;" />
                        </a>
                    </div>

                    <center><div class="nav-header">Plataforma</div></center>
                    <div class="nav flex-column">
                        <a href="@Url.Action("Index", "Cita")" class="nav-link">
                            <i class="fas fa-calendar-alt"></i> Cita
                        </a>
                        <a href="@Url.Action("AtencionCliente", "Cita")" class="nav-link">
                            <i class="fas fa-comments"></i> Comentarios
                        </a>
                    </div>
                    <hr />

                    <center><div class="nav-header">Información</div></center>
                    <div class="nav flex-column">
                        <a class="nav-link">
                            <i class="fas fa-stethoscope"></i> Especialidad
                        </a>
                        <a href="@Url.Action("Contactanos", "Cita")" class="nav-link">
                            <i class="fas fa-phone-alt"></i> Contáctanos
                        </a>
                        <a href="@Url.Action("Ubicacion", "Cita")" class="nav-link">
                            <i class="fas fa-map-marker-alt"></i> Ubicación
                        </a>
                    </div>

                </div>
            </div>
            
            <div class="content">
                <h2 class="text-center" style="color: #0b7b82;">Sobre nuestros servicios</h2>
                <p style="text-align: justify;">
                    En el Centro Integral Santo Domingo ofrecemos una amplia gama de servicios médicos para cuidar de tu salud y bienestar.
                    Contamos con Medicina General, Dermatología, Pediatría, Psicología, Nutrición, Radiología, Psiquiatría, Gastroenterología,
                    Endocrinología, Psicopedagogía, Terapia de Voz y Lenguaje, Ginecología, Cirugía, Medicina Familiar y Comunitaria, Ortopedia,
                    Otorrinolaringología, Urología, Neumología y atención especializada para el Adulto Mayor. Estamos aquí para brindarte el mejor
                    cuidado integral en un solo lugar.
                </p>

                <h2 class="text-center" style="color: #0b7b82;">Servicios</h2>

                <div style="display: flex; flex-direction: column;">
                    <div style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 20px;">
                        <p style="width: 30%; margin: 5px;">• Urología</p>
                        <p style="width: 30%; margin: 5px;">• Pediatría</p>
                        <p style="width: 30%; margin: 5px;">• Nutrición</p>
                        <p style="width: 30%; margin: 5px;">• Ortopedia</p>
                        <p style="width: 30%; margin: 5px;">• Psicología</p>
                        <p style="width: 30%; margin: 5px;">• Radiología</p>
                        <p style="width: 30%; margin: 5px;">• Psiquiatría</p>
                        <p style="width: 30%; margin: 5px;">• Ginecología</p>
                        <p style="width: 30%; margin: 5px;">• Psicopedagogía</p>
                        <p style="width: 30%; margin: 5px;">• Terapia de voz</p>
                        <p style="width: 30%; margin: 5px;">• Medicina General</p>
                        <p style="width: 30%; margin: 5px;">• Medicina Familiar</p>
                        <p style="width: 30%; margin: 5px;">• Gastroenterología</p>
                        <p style="width: 30%; margin: 5px;">• Terapia de lenguaje</p>
                        <p style="width: 30%; margin: 5px;">• Consulta en Cirugía</p>
                        <p style="width: 30%; margin: 5px;">• Medicina Comunitaria</p>
                        <p style="width: 30%; margin: 5px;">• Otorrinolaringología</p>
                        <p style="width: 30%; margin: 5px;">• Consulta Dermatología</p>
                        <p style="width: 30%; margin: 5px;">• Consulta en Neumología</p>
                        <p style="width: 30%; margin: 5px;">• Consulta Endocrinología</p>
                        <p style="width: 30%; margin: 5px;">• Consulta al Adulto Mayor</p>
                    </div>
                </div>

                <br />
            </div>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        </div>
    </div>
</body>
</html>