@model ProyectoClinica.Models.Servicio

@{
    ViewBag.Title = "Details";
}


<link href="~/CSS/Detalles.css" rel="stylesheet" />

<div class="container-form">
    <h2 class="page-title">Detalles del Servicio</h2>

    <div class="form-section">
        <legend>Información del Servicio</legend>
        <div class="detail-group">
            <div class="detail-item">
                <div class="detail-label">Nombre del Servicio</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Nombre_Servicio)</div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Precio del Servicio</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Precio_Servicio)</div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Especialidad</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Especialidad)</div>
            </div>
        </div>
    </div>

    <div class="text-center" style="margin-top: 20px;">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Servicio }, new { @class = "btn-primary" })
        @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn-secondary" })
    </div>
</div>

