@model ProyectoClinica.Models.Movimientos_Bancarios

@{
    ViewBag.Title = "Crear Movimientos Bancarios";
}

<link href="~/CSS/Crear.css" rel="stylesheet" />

<div class="container-form">
    <h2 class="page-title">Crear Movimientos Bancarios</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-section">
            <legend>Detalles del Movimiento Bancariario</legend>
            <div class="form-grid">
                <div class="form-group">
                    @Html.LabelFor(model => model.Id_Diario, "Diario  Contable", new { @class = "control-label" })
                    @Html.DropDownList("Id_Diario", ViewBag.Diarios_Contables as SelectList, "Seleccione una opción", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Id_Conciliacion, "Conciliación Bancaria", new { @class = "control-label" })
                    @Html.DropDownList("Id_Conciliacion", ViewBag.Conciliaciones_Bancarias as SelectList, "Seleccione una opción", new { @class = "form-control" })
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Id_Pago, "Pago", new { @class = "control-label" })
                    @Html.DropDownList("Id_Pago", ViewBag.Pagos as SelectList, "Seleccione una opción", new { @class = "form-control" })
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Id_Banco, "Banco", new { @class = "control-label" })
                    @Html.DropDownList("Id_Banco", ViewBag.Bancos as SelectList, "Seleccione una opción", new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-section">
            <legend>Información del Movimiento Bancario</legend>
            <div class="form-grid">
                <div class="form-group">
                    @Html.LabelFor(model => model.Ingresos, "Ingresos", new { @class = "control-label" })
                    @Html.EditorFor(model => model.Ingresos, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Egresos, "Egresos", new { @class = "control-label" })
                    @Html.EditorFor(model => model.Egresos, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Saldo, "Saldo", new { @class = "control-label" })
                    @Html.EditorFor(model => model.Saldo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-section">
            <legend>Información de Registro del Movimiento Bancario</legend>
            <div class="form-grid">
                <div class="form-group">
                    @Html.LabelFor(model => model.Fecha_Movimiento, "Fecha del Movimiento", new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Fecha_Movimiento, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, "Descripcion", new { @class = "control-label" })
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <input type="submit" value="Crear Pago" class="btn-primary" />
            @Html.ActionLink("Regresar a la Lista", "Index", null, new { @class = "btn-secondary" })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

