@model ProyectoClinica.Models.Movimientos_Bancarios

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Movimientos_Bancarios</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id_Movimiento)

    <div class="form-group">
        @Html.LabelFor(model => model.Id_Diario, "Diario", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownList("Id_Diario", ViewBag.Diarios_Contables as SelectList, "Seleccione una opción", new { @class = "form-control" })
        @*<div class="col-md-10">
               @Html.EditorFor(model => model.Id_Tipo_Registro, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.Id_Tipo_Registro, "", new { @class = "text-danger" })
            </div>*@
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Id_Conciliacion, "Id Conciliacion", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownList("Id_Conciliacion", ViewBag.Conciliaciones_Bancarias as SelectList, "Seleccione una opción", new { @class = "form-control" })
        @*<div class="col-md-10">
               @Html.EditorFor(model => model.Id_Tipo_Registro, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.Id_Tipo_Registro, "", new { @class = "text-danger" })
            </div>*@
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Id_Pago, "Id del Pagos", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownList("Id_Pago", ViewBag.Pagos as SelectList, "Seleccione una opción", new { @class = "form-control" })
        @*<div class="col-md-10">
               @Html.EditorFor(model => model.Id_Tipo_Registro, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.Id_Tipo_Registro, "", new { @class = "text-danger" })
            </div>*@
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Id_Banco, "Banco", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownList("Id_Banco", ViewBag.Bancos as SelectList, "Seleccione una opción", new { @class = "form-control" })
        @*<div class="col-md-10">
               @Html.EditorFor(model => model.Id_Tipo_Registro, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.Id_Tipo_Registro, "", new { @class = "text-danger" })
            </div>*@
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ingresos, "Ingresos", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ingresos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ingresos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Egresos, "Egresos", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Egresos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Egresos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Saldo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Saldo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Saldo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fecha_Movimiento, "Fecha Movimiento", htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Fecha_Movimiento, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(model => model.Fecha_Movimiento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion, "Descripcion", htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
