@model ProyectoClinica.Models.Departamentos

@{
    ViewBag.Title = "Details";
}


<link href="~/CSS/Detalles.css" rel="stylesheet" />

<div class="container-form">
    <h2 class="page-title">Detalles del Departamento</h2>

    <div class="form-section">
        <legend>Información del Departamento</legend>
        <div class="detail-group">
            <div class="detail-item">
                <div class="detail-label">Nombre del Departamento</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Nombre_Departamento)</div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Descripción</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Descripcion)</div>
            </div>
        </div>
    </div>

    <div class="form-section">
        <legend>Fechas</legend>
        <div class="detail-group">
            <div class="detail-item">
                <div class="detail-label">Fecha de Creación</div>
                <div class="detail-value">
                    @Html.Raw(Model.Fecha_Creacion.ToString("dd-MM-yyyy"))
                </div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Fecha de Actualización</div>
                <div class="detail-value">
                    @(Model.Fecha_Actualizacion.HasValue ? Model.Fecha_Actualizacion.Value.ToString("dd-MM-yyyy") : "")
                </div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Fecha de Eliminación</div>
                <div class="detail-value">
                    @(Model.Fecha_Actualizacion.HasValue ? Model.Fecha_Actualizacion.Value.ToString("dd-MM-yyyy") : "")
                </div>
            </div>
        </div>
    </div>

    <div class="form-section">
        <legend>Información de Registro</legend>
        <div class="detail-group">
            <div class="detail-item">
                <div class="detail-label">Usuario Registro</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Id_Usuario_Creador)</div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Estado</div>
                <div class="detail-value">@Html.DisplayFor(model => model.Estatus)</div>
            </div>
        </div>
    </div>

    <div class="text-center" style="margin-top: 20px;">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Departamento }, new { @class = "btn-primary" })
        @Html.ActionLink("Regresar a la Lista", "Index", null, new { @class = "btn-secondary" })
    </div>
</div>
